body {
    padding: 25px;
}

#content {
    width: 600px;
    margin: auto;
    background-color: #ddd;
    padding: 30px 10px;
    border-radius: 15px;
}

#care-list-container{
    display: flex;
}

#care-list {
    margin: auto;
}

.cost-input {
    display: flex;
}

.cost-input-box {
    display: inline-block;
    padding: 15px;
    border: 1px solid black;
}
ul[role='listbox']{
    max-height: 400px;
    overflow-y: scroll;
}