body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    width: 100%;
}

#content {
    margin-top: 50px;
    background-color: #ddd;
    padding: 40px 50px;
    border-radius: 15px;
    align-self: baseline;
    max-width: 90%
}

@media only screen and (max-width: 600px) {
    body {
        margin: 0px;
        background-color: #ddd;
        width: 100%;
    }
    #content {
        max-width: 100%;
        padding: 0px;
        margin: 50px;
    }
}

h1 {
    margin: 0px;
}

.blurb {
    width: 90%;
    max-width: 400px;
    margin: 15px 0px;
}

table {
    border-collapse: collapse;
}

table,
th,
td {
    border: 1px solid black;
    border-radius: 13px;
    padding: 5px;
}

#care-list-container {
    display: flex;
}

#care-list {
    margin: auto;
}
#cost-list{
    width: 400px;
}

.cost-input {
    text-align: center;
}

.dropdown-input {
    text-align: center;
}

.cost-input-box {
    padding: 15px;
    white-space: nowrap;
}

ul[role='listbox'] {
    max-height: 400px;
    overflow-y: scroll;
}

.delete-btn {
    font-size: 14px;
    margin: 0 5px;
}

#add-cost {
    font-size: 14px;
}