body {
    background-color: #8950b9;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0px;
}

#content {
    box-shadow: 10px 10px 30px #0000007a;
    background-color: #ddd;
    padding: 40px 50px;
    min-height: 100%;
    display: block;
    max-width: 45%;
}

@media only screen and (max-width: 800px) {
    body {
        background-color: #57069c57;
        width: 100%;
    }
    #content {
        box-shadow: 0px 0px 2px #0000007a;
        max-width: 100%;
        padding: 0px;
        margin: 0px 4px;
    }
    h1 {
        margin-top: 15px !important;
    }
    table tr td:first-child,
    table tr th:first-child {
        border-left: 0;
    }
    table tr td:last-child,
    table tr th:last-child {
        border-right: 0;
    }
    #care-list {
        width: 100% !important;
    }
}
a{
    color: #2B78AF;
    font-weight: 600;
    font-style: normal;
}
h1,h2 {
    margin: 0px;
}

h4 {
    font-size: 15px;
    font-style: italic;
    margin: 5px 0;
}
break{
    height: 8px;
    display: block;
}

.blurb {
    width: 90%;
    min-width: 300px;
    margin: 15px auto;
}

table {
    border-collapse: collapse;
}

table td,
table th {
    border: 1px solid #666;
    padding: 5px;
}

#care-list-container {
    margin: auto;
}

#care-list {
    width: 96%;
    margin: auto;
    margin-top: 20px;
}

.cost-input {
    text-align: center;
}

.dropdown-input {
    text-align: center;
}

.cost-input-box {
    padding: 15px;
    white-space: nowrap;
}

.cost-input-box .awesomplete {
    width: 86%;
}

.awesomplete input {
    width: 100%;
    font-size: 16px;
}

ul[role='listbox'] {
    max-height: 400px;
    overflow-y: scroll;
}

.delete-btn {
    font-size: 14px;
    margin: 0 5px;
}

#add-cost {
    font-size: 14px;
}
#url-box{
    width: 70%; 
    text-align: center;
}