/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    color: #444;
    cursor: pointer;
    padding: 10px;
    padding-top: 15px;
    margin: 15px 0;
    min-width: 60%;
    border: none;
    border-radius: 3px;
    outline: none;
    transition: 0.4s;
    box-shadow: inset 0 0 3px #555;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.accordion:hover/*, .active*/ {
    box-shadow: inset 0 0 8px #555;
}